{% set acl_supports_vlan = false %}
{% set mac_acl_trailing_space = true %}
{% import 'DCS-MACROS.j2' as dcs with context -%}
!
{{ ansible_managed|comment(decoration="! ") }}
!
aaa root ssh-key {{ secrets.eos.root_pubkey }}
aaa root ssh-key secondary {{ secrets.eos.root_pubkey_2nd }}
aaa authentication policy local allow-nopassword-remote-login
!
username admin role network-admin secret sha512 {{ secrets.eos.admin_hash }}
username ddix-deploy role network-admin secret sha512 {{ secrets.eos.deploy_hash }}
username ddix-deploy ssh-key {{ secrets.eos.root_pubkey }}
username ddix-deploy ssh-key secondary {{ secrets.eos.root_pubkey_2nd }}
!
hardware access-list update default-result permit
!
no ip igmp snooping
!
no service interface inactive port-id allocation disabled
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
logging monitor warnings
!
hostname {{ switch_vars.inventory_hostname_short }}
!
sflow sample 15
sflow vrf inband-mgmt destination 2a01:7700:80b0:4101::3
sflow vrf inband-mgmt source-interface Loopback3
sflow interface disable default
sflow run
!
snmp-server contact DD-IX NOC <noc@dd-ix.net>
snmp-server location {{ switch_vars.snmp_location }}
snmp-server local-interface Loopback3
snmp-server community {{ secrets.eos.snmp_community }} ro
snmp-server vrf inband-mgmt
!
spanning-tree mode none
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
{% block vlans %}
{% endblock %}
vrf instance inband-mgmt
!
radius-server host 2a01:7700:80b0:6001::4 vrf inband-mgmt key 7 {{ secrets.eos.radius_key }}
!
aaa authentication login default local group radius
aaa authentication login console local group radius
!
{% block interfaces %}
{% endblock %}
hardware tcam
   profile ddix-jericho-1
      feature acl port ip
         sequence 45
         key size limit 160
         key field dscp dst-ip ip-frag ip-protocol l4-dst-port l4-ops l4-src-port src-ip tcp-control ttl
         action count drop mirror
         packet ipv4 forwarding bridged
         packet ipv4 forwarding routed
         packet ipv4 forwarding routed multicast
         packet ipv4 mpls ipv4 forwarding mpls decap
         packet ipv4 mpls ipv6 forwarding mpls decap
         packet ipv4 non-vxlan forwarding routed decap
         packet ipv4 vxlan eth ipv4 forwarding routed decap
         packet ipv4 vxlan forwarding bridged decap
      !
      feature acl port ipv6
         sequence 25
         key field dst-ipv6 ipv6-next-header ipv6-traffic-class l4-dst-port l4-ops-3b l4-src-port src-ipv6-high src-ipv6-low tcp-control
         action count drop mirror
         packet ipv6 forwarding bridged
         packet ipv6 forwarding routed
         packet ipv6 forwarding routed multicast
         packet ipv6 ipv6 forwarding routed decap
      !
      feature acl port ipv6 egress
         key field dst-ipv6 ipv6-next-header ipv6-traffic-class l4-dst-port l4-src-port src-ipv6-high src-ipv6-low tcp-control
         action count drop mirror
         packet ipv6 forwarding bridged
         packet ipv6 forwarding routed
      !
      feature acl port mac
         sequence 55
         key size limit 160
         key field dst-mac ether-type src-mac vlan
         action count drop mirror
         packet ipv4 forwarding bridged
         packet ipv4 forwarding routed
         packet ipv4 forwarding routed multicast
         packet ipv4 mpls ipv4 forwarding mpls decap
         packet ipv4 mpls ipv6 forwarding mpls decap
         packet ipv4 non-vxlan forwarding routed decap
         packet ipv4 vxlan eth ipv4 forwarding routed decap
         packet ipv4 vxlan forwarding bridged decap
         packet ipv6 forwarding bridged
         packet ipv6 forwarding routed
         packet ipv6 forwarding routed decap
         packet ipv6 forwarding routed multicast
         packet ipv6 ipv6 forwarding routed decap
         packet mpls forwarding bridged decap
         packet mpls ipv4 forwarding mpls
         packet mpls ipv6 forwarding mpls
         packet mpls non-ip forwarding mpls
         packet non-ip forwarding bridged
      !
      feature acl subintf ip
         sequence 40
         key size limit 160
         key field dscp dst-ip ip-frag ip-protocol l4-dst-port l4-ops-18b l4-src-port src-ip tcp-control ttl
         action count drop
         packet ipv4 forwarding bridged sub-interface
         packet ipv4 forwarding routed
      !
      feature acl subintf ipv6
         sequence 15
         port qualifier size 7 bits
         key field dst-ipv6 ipv6-next-header l4-dst-port l4-src-port src-ipv6-high src-ipv6-low tcp-control
         action count drop
         packet ipv6 forwarding bridged sub-interface
         packet ipv6 forwarding routed
      !
      feature acl subintf mac
         key size limit 160
         port qualifier size 7 bits
         key field dst-mac ether-type src-mac
         action count drop mirror
         packet ipv4 forwarding bridged sub-interface
         packet ipv6 forwarding bridged sub-interface
         packet non-ip forwarding bridged sub-interface
      !
      feature acl vlan ip
         sequence 35
         key size limit 160
         key field dscp dst-ip ip-frag ip-protocol l4-dst-port l4-ops-18b l4-src-port src-ip tcp-control ttl
         action count drop
         packet ipv4 forwarding routed
         packet ipv4 mpls ipv4 forwarding mpls decap
         packet ipv4 mpls ipv6 forwarding mpls decap
         packet ipv4 non-vxlan forwarding routed decap
         packet ipv4 vxlan eth ipv4 forwarding routed decap
      !
      feature l2-protocol forwarding
         sequence 95
         key size limit 160
         key field dst-mac vlan-tag-format
         action mirror redirect-to-cpu set-tc
         packet non-ip forwarding bridged
      !
      feature mirror ip
         sequence 80
         key size limit 160
         key field dscp dst-ip ip-frag ip-protocol l4-dst-port l4-ops l4-src-port src-ip tcp-control
         action count mirror set-policer
         packet ipv4 forwarding bridged
         packet ipv4 forwarding routed
         packet ipv4 forwarding routed multicast
         packet ipv4 non-vxlan forwarding routed decap
      !
      feature qos mac
         sequence 80
         key size limit 160
         port qualifier size 10 bits
         key field cos forwarding-type inner-vlan-id ipv6-traffic-class outer-vlan-id
         action count set-dscp set-policer set-tc
         packet ipv6 forwarding bridged
         packet ipv6 forwarding bridged sub-interface
         packet ipv6 forwarding routed
         packet mpls forwarding bridged decap
         packet mpls ipv4 forwarding mpls
         packet mpls ipv6 forwarding mpls
         packet mpls non-ip forwarding mpls
         packet non-ip forwarding bridged
         packet non-ip forwarding bridged sub-interface
      !
      feature tunnel vxlan
         sequence 50
         key size limit 160
         packet ipv4 vxlan eth ipv4 forwarding routed decap
         packet ipv4 vxlan forwarding bridged decap
      !
      feature tunnel vxlan routing
         sequence 10
         packet ipv4 forwarding routed
         packet ipv4 non-vxlan forwarding routed decap
         packet ipv4 vxlan eth ipv4 forwarding routed decap
         packet ipv4 vxlan eth ipv6 forwarding routed decap
   system profile ddix-jericho-1
!
{% block mac_address_table %}
{% endblock %}
ipv6 access-list bgp-culling-ipv6
   10 remark RFC8327 BGP Culling DD-IX
   11 deny tcp 2001:7f8:79::/64 eq bgp 2001:7f8:79::/64
   12 deny tcp 2001:7f8:79::/64 2001:7f8:79::/64 eq bgp
   100 remark allow any other traffic
   101 permit ipv6 any any
!
{% for ifnum, settings in switch_vars.interfaces.Ethernet|dictsort %}
{% if settings.profile == "peer" %}
{{ dcs.ipv6_acl_peer(ifnum) -}}
{% endif %}
{% endfor %}
ip access-list bgp-culling-ipv4
   10 remark RFC8327 BGP Culling DD-IX
   11 deny tcp 193.201.151.64/26 eq bgp 193.201.151.64/26
   12 deny tcp 193.201.151.64/26 193.201.151.64/26 eq bgp
   100 remark allow any other traffic
   101 permit ip any any
!
{% for ifnum, settings in switch_vars.interfaces.Ethernet|dictsort %}
{% if settings.profile == "peer" %}
{{ dcs.ip_acl_peer(ifnum) -}}
{% endif %}
{% endfor %}
ip routing
ip routing vrf inband-mgmt
!
ipv6 unicast-routing
ipv6 unicast-routing vrf inband-mgmt
!
mac access-list block
   100 remark drop any
   101 deny any any log
!
{% for ifnum, settings in switch_vars.interfaces.Ethernet|dictsort %}
{% if settings.profile == "peer" %}
{{ dcs.mac_acl_peer(ifnum) -}}
{% endif %}
{% endfor %}
{% block routes %}
{% endblock %}
ntp server vrf inband-mgmt 2a01:7700::3 iburst
ntp server vrf inband-mgmt 2a01:7700::4 iburst
ntp server vrf inband-mgmt 2a01:7700::5 iburst
!
router bgp 65044
   router-id {{ switch_vars.router_id }}
   no bgp default ipv4-unicast
   maximum-paths 8 ecmp 8
   bgp bestpath tie-break router-id
   neighbor backbone peer group
   neighbor backbone remote-as 65044
   neighbor backbone update-source Loopback0
   neighbor backbone send-community
{% for router_id in groups.eos|intersect(groups[switch_vars.eos_child_group])|difference([switch_vars.inventory_hostname])|map('extract', hostvars, 'router_id')|sort %}
   neighbor {{ router_id }} peer group backbone
{% endfor %}
   !
   vlan 600
      rd 65044:20600
      route-target both 65044:20600
      redistribute learned
      redistribute static
   !
   address-family evpn
      neighbor backbone activate
   !
   address-family ipv6
      neighbor backbone activate
   !
   vrf inband-mgmt
      rd 65044:30001
      route-target import evpn 65044:30001
      route-target export evpn 65044:30001
      router-id {{ switch_vars.router_id }}
      redistribute connected
      redistribute static
      !
      address-family ipv6
         redistribute connected
         redistribute static
!
router isis backbone
   net {{ switch_vars.isis_net }}
   is-type level-2
   log-adjacency-changes
   !
   address-family ipv4 unicast
      bfd all-interfaces
   !
   address-family ipv6 unicast
      bfd all-interfaces
      multi-topology
!
router multicast
   ipv4
      software-forwarding kernel
   !
   ipv6
      software-forwarding kernel
!
management ssh
   cipher aes256-gcm@openssh.com aes128-gcm@openssh.com chacha20-poly1305@openssh.com
   key-exchange curve25519-sha256@libssh.org
   mac hmac-sha2-512-etm@openssh.com hmac-sha2-256-etm@openssh.com
   hostkey server ed25519 rsa
   log-level verbose
   logging target system
   !
   vrf inband-mgmt
      no shutdown
!
end
