- name: notify about bird changes
  ansible.builtin.uri:
    url: "{{ secrets.matrix.surveillance_room_url }}"
    method: POST
    body_format: json
    body:
      msgtype: m.text
      format: org.matrix.custom.html
      body: |
        ✅ **Bird Update {{ inventory_hostname_short }}**

        Changes (stripped rpki routes):
          {{ config_diff_short.diff_text|indent(2) }}

        Reconfigure:
          {{ configure.stdout|indent(2) }}
      formatted_body: |
        <h1>✅ Bird Update <code>{{ inventory_hostname_short }}</code></h1>
        <ul>
          <li>Changes (stripped rpki routes):
            <pre>{{ config_diff_short.diff_text|e }}</pre>
          </li>
          <li>Reconfigure:
            <pre>{{ configure.stdout|e }}</pre>
        </ul>
    follow_redirects: no
  delegate_to: localhost
  when: config_diff_short.changed and secrets.matrix.surveillance_room_url is defined
