- name: notify about eos changes
  ansible.builtin.uri:
    url: "{{ secrets.matrix.surveillance_room_url }}"
    method: POST
    body_format: json
    body:
      msgtype: m.text
      format: org.matrix.custom.html
      body: |
        ✅ **EOS Update {{ inventory_hostname_short }}**

        Changes:
          {{ config_diff.diff_text|indent(2) }}

        Reconfigure:
          {{ configure.stdout|join("\n\n")|indent(2) }}
      formatted_body: |
        <h1>✅ EOS Update <code>{{ inventory_hostname_short }}</code></h1>
        <ul>
          <li>Changes:
            <pre>{{ config_diff.diff_text|e }}</pre>
          </li>
          <li>Reconfigure:
        {% for stdout in configure.stdout %}
            <pre>{{ stdout|e }}</pre>
        {% endfor %}
        </ul>
    follow_redirects: no
  delegate_to: localhost
  failed_when: false
  when: secrets.matrix.surveillance_room_url is defined
